* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
header{
    background-color: coral;
    color: black;
    padding: 10px;
    text-align: center;
    word-spacing: 20em;
}
div.logo{
    text-align: left;
}
div.ICFS{
    text-align: center;
    display: inline;
}
.contenedor{
    width: 100%;
}
aside{
    background-color:black;
    color: rgb(255, 255, 255);
    height: 750px;
    width: 20%;
    float: left;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20%;

   
}
aside li{
    list-style-type: none;
    padding: 4%;
}
main{ 
    height: 600px;
    width: 40%;
    padding: 0px;
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    text-align: left;
    

}
article{
    font-size: larger;

}
img.logoFoto{
    height: 60px;
    width: 60px;
}
img.Foto{
    height: 200px;
    width: 150px;
}
h3{
    background-color: black;
    color: coral;
    margin-right: 35%;
    margin-left: 35%;
    text-align: center;
}
img{
    height: 8%;
    width: 8%;
}
div.RRSS{
    text-align: left;
    margin-left: 10%;
    display: inline;
}
div.listaderecha{
    height: 30%;
    width: 30%;
    display: inline-block;
    position: absolute;
    top: 12%;
    left: 60%;
    bottom: 10%;
}

div.NombreApellido{
    text-shadow: 1px;
    text-transform: capitalize;
    text-decoration: overline;
    text-indent: 1%;
    color: rgb(0, 48, 0);
    font-family: Arial;
    text-align: left;
    position: absolute;
    top: 12%;
    bottom: 10%;
}
nav.ListaVerticalderecha{
    background-color: black;
    color: white;
    height: 750px ;
    width: 20%;
    float: right;
    margin-top: 20px;
    text-align: center;

    
}
footer div{
    background-color:coral  ;
    color: black;
    text-align: center;
    clear: both;
    padding: 20px;
    margin-top: 42%;
    word-spacing: 50em;
}
nav video{
    margin-top: 40%;
}
a.link{
    background-color: black;
}





