* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
header{
    background-color:coral;
    color: black;
    padding: 10px;
    text-align: center;
    word-spacing: 20em;
}
aside{
    background-color: black;
    color: white;
    height: 750px;
    width: 20%;
    float: left;
    margin-top: 20px;
}
div.logo{
    text-align: left;
}
div.ICFS{
    text-align: center;
    display: inline;
}
.contenedor{
    width: 100%;
}
img.logoFoto{
    height: 40px;
    width: 40px;
}
main{ 
    border: 2px solid;
    height: 450px;
    width: 50%;
    padding: 0px;
    float: left;
    margin-left: 5%;
    margin-top: 20px;

}
footer div{
    background-color:coral;
    color: white;
    text-align: center;
    clear: both;
    padding: 20px;
    margin-top: 43%;
    word-spacing: 50em;
}
nav.ListaVerticalderecha{
    background-color: black;
    color: white;
    height: 750px ;
    width: 20%;
    float: right;
    margin-top: 20px;
    text-align: center;
    
}