* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
header{
    background-color:coral;
    color: black;
    padding: 10px;
    text-align: center;
    word-spacing: 20em;
    margin-bottom: 1%;
}
div.logo{
    text-align: left;
}
div.ICFS{
    text-align: center;
    display: inline;
}
.contenedor{
    width: 100%;
}
main section{ 
    height: 600px;
    width: 60%;
    padding: 0px;
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    

}
article{
    font-size: larger;

}
img.logoFoto{
    height: 60px;
    width: 60px;
}
img.Foto{
    height: 200px;
    width: 150px;
}

h1.tituloform{
    text-align: left;
}
aside{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 750px ;
    width: 20%;
    float: left;
    margin-top: 20px;
   
}
aside li{
    list-style-type: none;
    padding: 4%;
}
.Coment textarea{
    margin-bottom: 3%;
}

.enviar input{
    height: 4%;
    width: 4%;
}
nav.ListaVerticalderecha{
    background-color: black;
    color: white;
    height: 750px ;
    width: 20%;
    float: right;
    margin-top: 20px;
    text-align: center;
    
}
form{
width: 900%;
max-width: 900px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
float: left;
margin-left: 6%;
}
footer div{
    background-color:coral  ;
    color: black;
    text-align: center;
    clear: both;
    padding: 20px;
    margin-top: 42%;
    word-spacing: 50em;
}